@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --input-color: #818181;
    --text-color: #FFFFFF;
    --background-color: rgba(0,0,0,0.64);
    --body-color: #18181b;
    --hover-color: #272729;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Sans-serif';
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    background-position: center;
    background-size: cover;
}

main{
    background-color: var(--background-color);
    height: 100vh;
    width: 555px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    
}

.logo {
    width: 150px;
    height: auto;
}

.city-input{
    width: 374px;
    height: 68px;
    border-radius: 41px;
    background-color: var(--body-color);
    border: none;
    font-size: 1.3rem;
    color: var(--input-color);
    padding: 12px 16px 14px;
}

.city-input, .search-container button{
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}

.city-input:focus{
    outline: none;
}

.city-input:hover{
    background-color: var(--hover-color);
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
}

.search-container::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 459px;
    bottom: 0;
    left: 0;
    background-color: var(--input-color);
    border-radius: 3px;
}

.search-container button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    border-radius: 100%;
    background-color: var(--body-color);
    border: none;
}

.search-container button:hover{
    cursor: pointer;
    background-color: var(--hover-color);
}

.search-container button img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;    
}

.data span h1 img{
    height: 25px;
}

.data{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.weather-data{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.hidden{
    display: none;
}

.details-container{
    font-size: 1.3rem;
    width: 500px;
    display: flex;
    justify-content: space-around;
    gap: 2px;
    margin-top: 3rem;
}

.temperature{
    font-size: 4rem;
    display: flex;
    justify-content: center;
}

.description{
    font-size: 1.3rem;
    font-weight: bold;
}

.col{
    color: var(--text-color);
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    margin-right: 1.25rem;
}

.wind-icon{
    width: 40px;
}

.humidity-icon{
    width: 30px;
}

.footer{
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;
}